@media screen and (max-width: 320px) {
    body {
            background-color: #888877;
            padding-top: 80px;
            font-family: Verdana, sans-serif;
         }
    form {
            padding: 30px auto;
            text-align: center;
         }
    input {
            border-radius: 5px;
            padding: 7px;
            margin-bottom: 10px;
            width: 200px;
            font-size: 20px;
          }
    input[type="button"] {
                border-radius: 15px;
                width: 160px;
            }
    input[type="submit"] {
                border-radius: 15px;
                width: 160px;
            }
}

@media screen and (min-width: 321px) {
    body {
            background-color: #888877;
            padding-top: 94px;
            font-family: Verdana, sans-serif;
         }
    form {
            padding: 35px auto;
            text-align: center;
         }
    input {
            border-radius: 6px;
            padding: 8px;
            margin-bottom: 12px;
            width: 235px;
            font-size: 23px;
          }
    input[type="button"] {
                border-radius: 18px;
                width: 188px;
            }
    input[type="submit"] {
                border-radius: 18px;
                width: 188px;
            }
}